{% extends "single_game.html" %}

{% block content %}
<body background="/static/img/banner_game.jpg">
<div class="card text-center">
  <div class="card-body">
    <p class="card-text">
        <div>{{ dialog['text'] }}</div>
    </p>
    {% for jump in dialog['jumps'] %}
    <form method="POST" action="/dialog/{{ jump['dialog_id'] }}">
        <button class="btn btn-primary" type="submit">{{ jump['text'] }}</button>
    </form>
    {% endfor %}
</div>
</div>
</body>
{% endblock content %}