<!DOCTYPE html>
<html lang="en">

<head>
  <style class="vjs-styles-defaults">
  .vdo-js {
    width: 300px;
    height: 150px;
  }

  .vjs-fluid {
    padding-top: 56.25%
  }
</style>
<style class="vjs-styles-dimensions">
.vdo_ai_1481727-dimensions {
  width: 419px;
  height: 236px;
}

.vdo_ai_1481727-dimensions.vjs-fluid {
  padding-top: 56.25%;
}
</style>
<title>{% block title %}Quest go in time{% endblock %}</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- //for-mobile-apps -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all">
<!-- gallery -->
<link rel="stylesheet" href="/static/css/lightGallery.css" type="text/css" media="all">
<!-- //gallery -->
<!-- font-awesome icons -->
<link href="/static/css/font-awesome.css" rel="stylesheet">

<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Jura:300,400,500,600" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic"
rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&amp;amp;subset=cyrillic" rel="stylesheet">
<link rel="icon" type="image/icon" href="/static/img/favicon.ico" />
</head>

<body background="">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


  <!-- header -->

  <div class="w3_navigation">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header navbar-left">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="w3_navigation_pos">
            <h1><a href="/"><span>Quest</span> Go in time</a></h1>
          </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <nav class="cl-effect-5" id="cl-effect-5">
            <ul class="nav navbar-nav">
              <li><a href=""><span data-hover="About"></span></a></li>
              <li class="active"><a href="/"><span data-hover="Home">Home</span></a></li>

              <li><a href="/about"><span data-hover="About">Об игре</span></a></li>
              <li><a href=""><span data-hover=""></span></a></li>
              <li><a href=""><span data-hover=""></span></a></li>
              <li><a href="{{ url_for('user.register') }}"><span data-hover="Register">Регистрация</span></a></li>
              {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('user.logout') }}"><span data-hover="Exit">{{ current_user.username  }}</span></a></li>
              {% else %}
              <li><a href="{{ url_for('user.login') }}"><span data-hover="Login">Войти</span></a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </nav>
    </div>
  </div>
  <!-- //header -->
  <!-- banner -->
  <div class="banner">
    <!--Slider-->
    <div class="slider">
      <div class="callbacks_container">
        <ul class="rslides callbacks callbacks1" id="slider3">
          <li id="callbacks1_s2" class="callbacks1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out 0s;">
            <div class="slider-img">
              <img src="/static/img/banner1.jpg" class="img-responsive" alt="">
            </div>
            <div class="slider-info">

              <h4>Спаси узника Азкабана и любимчика Хагрида</h4>
              <p>Реши викторину, узнай много нового</p>
              <a href="/single_game" class="hvr-shutter-in-horizontal scroll">Один игрок</a>
            </div>
          </li>
          <li id="callbacks1_s0" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
            <div class="slider-img">
              <img src="/static/img/banner2.jpg" class="img-responsive" alt="">
            </div>
            <div class="slider-info">

              <h4>Играй командой, спасай друзей</h4>
              <p>Раздел находится в разработке</p>
              <a href="#" class="hvr-shutter-in-horizontal scroll">Три игрока</a>
            </div>
          </li>

        </ul><a href="#" class="callbacks_nav callbacks1_nav prev">Previous</a><a href="#" class="callbacks_nav callbacks1_nav next">Next</a>

      </div>
      <div class="clearfix"></div>
    </div>
    <!--//Slider-->
  </div>
  <!-- //banner -->

  <!--banner Slider starts Here-->
  <script src="/static/js/jquery-2.2.3.min.js"></script>
  <script src="/static/js/responsiveslides.min.js"></script>
  <script>
    // You can also use "$(window).load(function() {"
    $(function () {
                  // Slideshow 4
                  $("#slider3").responsiveSlides({
                    auto: true,
                    pager:false,
                    nav:true,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                      $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                      $('.events').append("<li>after event fired.</li>");
                    }
                  });

                });
              </script>
              <!-- js -->
              <!-- start-smoth-scrolling -->
              <script src="/static/js/lightGallery.js"></script>
              <script>
                $(document).ready(function() {
                  $("#lightGallery").lightGallery({
                    mode:"fade",
                    speed:800,
                    caption:true,
                    desc:true,
                    mobileSrc:true
                  });
                });
              </script>

              <script src="/static/js/owl.carousel.js"></script>
              <link href="/static/css/owl.theme.css" rel="stylesheet">
              <link rel="stylesheet" href="/static/css/owl.carousel.css" type="text/css" media="all">
              <script>
                $(document).ready(function () {
                  $("#owl-demo").owlCarousel({

        autoPlay: 3000, //Set AutoPlay to 3 seconds
        autoPlay: true,
        navigation: true,

        items: 4,
        itemsDesktop: [640, 5],
        itemsDesktopSmall: [414, 4]

      });

                });
              </script>
              <!-- start-smoth-scrolling -->
              <script type="text/javascript" src="/static/js/move-top.js"></script>
              <script type="text/javascript" src="/static/js/easing.js"></script>
              <script type="text/javascript">
                jQuery(document).ready(function ($) {
                  $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({
                      scrollTop: $(this.hash).offset().top
                    }, 1000);
                  });
                });
              </script>
              <!-- start-smoth-scrolling -->
              <!-- //js -->
              <script src="/static/js/bootstrap.js"></script>
              <!-- //for bootstrap working -->
              <!-- here stars scrolling icon -->
              <script type="text/javascript">
                $(document).ready(function () {
      /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
        };
        */

        $().UItoTop({
          easingType: 'easeOutQuart'
        });

      });
    </script>

    <!-- Bootstrap core JavaScript -->
  <!-- <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  </body>

  </html>