<!DOCTYPE html>
<html lang="en">
<head>
    <style class="vjs-styles-defaults">
        .vdo-js {
          width: 300px;
          height: 150px;
        }
    
        .vjs-fluid {
          padding-top: 56.25%
        }
      </style>
      <style class="vjs-styles-dimensions">
        .vdo_ai_1481727-dimensions {
          width: 419px;
          height: 236px;
        }
    
        .vdo_ai_1481727-dimensions.vjs-fluid {
          padding-top: 56.25%;
        }
      </style>
      <title>{% block title %}Quest go in time{% endblock %}</title>
      <!-- for-mobile-apps -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <!-- //for-mobile-apps -->
      <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
      <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all">
      <!-- gallery -->
      <link rel="stylesheet" href="/static/css/lightGallery.css" type="text/css" media="all">
      <!-- //gallery -->
      <!-- font-awesome icons -->
      <link href="/static/css/font-awesome.css" rel="stylesheet">
    
      <!-- //font-awesome icons -->
      <link href="//fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Jura:300,400,500,600" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic"
        rel="stylesheet" type="text/css">
    
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&amp;amp;subset=cyrillic" rel="stylesheet">
      <link rel="icon" type="image/icon" href="/static/img/favicon.ico" />
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


  <!-- header -->

  <div class="w3_navigation">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header navbar-left">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="w3_navigation_pos">
            <h1><a href="/"><span>Quest</span> Go in time</a></h1>
          </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <nav class="cl-effect-5" id="cl-effect-5">
            <ul class="nav navbar-nav">
              <li><a href=""><span data-hover="About"></span></a></li>
              <li class="active"><a href="/"><span data-hover="Home">Home</span></a></li>

              <li><a href="/about"><span data-hover="About">Об игре</span></a></li>
              <li><a href=""><span data-hover="About"></span></a></li>
              <li><a href=""><span data-hover="About"></span></a></li>
              <li><a href="/login"><span data-hover="Login">Регистрация</span></a></li>
              <li><a href="/sign_in"><span data-hover="Sign up">Войти</span></a></li>
            </ul>
          </nav>
        </div>
      </nav>
    </div>
  </div>
  <!-- //header -->
{% block content %}
<body background="/static/img/banner_game.jpg"> <!--не открывается фон -->
  <div class="container">
    <form method="POST" action="/dialog/1">
      <button class="btn btn-primary btn-lg active" type="submit">Start Game</button>
    </form>
  </div>
</body>
{% endblock content %}
</html>