<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">

    <title>Quest go in time</title>
</head>
<body>
<p>Ты в лазарете Хогвартса с Роном Визли, прикованным к кровати и Гермионой. Ты сожалеeшь о событиях, произошедших этим днем. Крыса Рона оказалась Питером Петтигрю, крестный заброшен в башню Темноты, убит Клювокрыл по вине Малфоя, надежды нет что-то поменять... и Тот Кого Нельзя Называть жив и назревают большие проблемы... Вдруг заходит опечаленный Дамблдор и что-то говорит про время, и что трех оборотов будет достаточно...</p>
<form method="POST" action="/dialog2">
<button class="btn btn-primary" type="submit">Двигаться дальше</button>
</form>
</body>